@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
  overflow-x: hidden;
}

.bigBox{
  position:relative;
  height:400px;
  width:400px;
}
.smallBox{
  
  height:50%;
  width:50%;
  transition: 1s ease-in-out forwards;
  
}
.bigBox:hover .smallBox{
  transform:translate(100%);
  background-color:green;
}

.bkgrd{
  background-color: rgb(255,255,255);
}

.bouncy{
  position: absolute;
  bottom: 600px;
  right: -800px;
  animation:enter 1s ease-in  forwards;
  
  
}
.forTheFirst{
  opacity:0%;
  animation:appear 2s ease-in-out forwards 
}

.previmg{
position:relative;
top:500px;
left :100px;
}
.nextimg{
  position:relative;
  bottom:100px;
  left:400px;
}

.l1{

  animation-delay:1s;
}
.l2{
  animation-delay:2s;
}
.l3{
  animation-delay:3s;
}

@keyframes enter{
  0%{
    display:none;
  }

  100%{
    
    transform:translateX(-80px) translateY(80px);
    
  }
}

@keyframes appear{
  0%{
    display:none;
  }
  25%{
    display:block;
    opacity:25%;
  }
  50%{
    display:block;
    opacity:50%;
    transform:translateY(10px);
  }
  100%{
    display:block;
    opacity:100%;
    tranform: translateY(13px);
  }
}

.searchOptions{
position:absolute;
left:1400px;
}

.containerGeneral{
position:relative;
left:400px;
width:1000px;
}
.vid{
  position:relative;
  top:700px;
}
.timeleft{
position:relative;
top:300px;

}
.slides{
  position:relative;
  top:992px;
}
.rings{
  position:relative;
  top:1150px;

}

.img_getInvolved{
position:relative;
right:220px;


}
.free{

animation: free 2s forwards  ease-in-out;
}


@keyframes free{
  0%{
    transform:scale(1)
  }
  100%{
  transform:scale(1.1) translate(80px,80px);

  }
}

.img_getInvolved:hover{
  
}
.body_getInvolved{
position:relative;
top:1600px;
}
.last_band{
top:2000px;
}
.circle {
  width: 400px; /* Adjust the width and height as needed */
  height: 400px;
  border: 1px solid rgb(95,2,110); /* Border style and color */
  border-radius: 50%; /* Makes the element a circle */
  /* transition:tranform 1s ease-in; */
  
  
}

.gii{
  animation: gii 1s ease-in-out;
}
@keyframes gii{
  0%{
    transform:scale(0.85);
  }
  
  100%{
  
  transform:scale(1);

  }
}
.giiR{
  animation: giiR 1s ease-in-out;
}
@keyframes giiR{
  0%{
    /* transform:scale(1); */
  }
  
  100%{
  
  transform:scale(0.85);

  }
}
.ring1{
  
}
@keyframes fadeIn {
  0%{
    opacity:0%;
    transform: scale(0);
    
  }
  100%{
    
    opacity:100%;
    transform: scale(1);
    
    
  }
}



@media screen and (max-width:576px){
  .timeleft{
    position:relative;
    top:300px;
    left:-250px
  }
  .containerGeneral{
  width:350px;
  }
  

}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .timeleft{
    position:relative;
    top:300px;
    left:-250px
  }

  .containerGeneral{
  width:600px;
  }
  
  

 

}
@media screen and (min-width:993px){
  
}

//rings animations

.ringss:nth-child(1){
animation : r 1s ;
}
.ringss:nth-child(2){
animation : r 1s ;
}
.ringss:nth-child(3){
animation : r 1.5s ;
}
.ringss:nth-child(4){
animation : r 2s;
}
.moonss{
animation: r 2s;
}
.sate{
  animation: sate 1s forwards ease-in-out;
  
}
@keyframes sate{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translate(190px,4px)
  }
}


@keyframes r{
  0%{
  transform:scale(0)
  }
  100%{
  tranform:scale(1)
  }
}

.newsblog{
  position:relative;
  top:1800px;
  
}
.right_ani{
transition:right 1s ease-in-out;
}

.cardAni{
animation:cardAni 2s forwards;
}
@keyframes carAni{
  0%{
    transform:scale(2)
  }
  100:{
  transform:scale(1);
  }
}
.cardSwipe{
animation:cSwipe 3s ease-in-out  ;
}
.child:nth-child(1) {
  trasition:scale(2);
  animation-delay: 0s;
}

.child:nth-child(2) {
  animation-delay: 1s;
}

.child:nth-child(3) {
  animation-delay: 2s;
}

.child:nth-child(4) {
  animation-delay: 3s;
}
.child:nth-child(n){
animation-delay:3s;
}
@keyframes cSwipe{
  0%{
  position:relative;
  right:60px;
  float:left;
  opacity:0.2
  }
  

  100%{
  position:relative;
  right:0px;
  opacity:1;
  }
}
